.chart-wrapper {
    position: relative;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    height: 100%;
}

.chart-actions button.active-metric {
    background-color: #e8eaf6;
    /* Light Indigo */
    border-color: #3f51b5;
    color: #3f51b5;
    font-weight: 500;
}

.chart-container {
    min-height: 350px;
}