<h2 mat-dialog-title>Update Subscription</h2>
<mat-dialog-content>
  <p>Updating subscription for <strong>{{data.member.name}}</strong>.</p>
  
  <div class="form-container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Subscription Type</mat-label>
      <input matInput value="Monthly Membership" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Expiration Date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControl">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="payment-section">
        <p><strong>Payment Method:</strong></p>
        <mat-button-toggle-group [(ngModel)]="paymentMethod" [ngModelOptions]="{standalone: true}" name="paymentMethod">
          <mat-button-toggle value="CASH">Cash</mat-button-toggle>
          <mat-button-toggle value="GCASH">GCash</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="outline" class="full-width" *ngIf="paymentMethod === 'GCASH'">
          <mat-label>Reference Number</mat-label>
          <input matInput [(ngModel)]="referenceNumber" [ngModelOptions]="{standalone: true}" required placeholder="Ref No.">
        </mat-form-field>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end" class="actions-column">
  <button mat-button (click)="onAction('cancel')">Cancel</button>
  <button mat-stroked-button (click)="onAction('check-in-only')">Update & Check-in (No Pay)</button>
  <button mat-raised-button color="primary" (click)="onAction('pay-and-check-in')"
    [disabled]="paymentMethod === 'GCASH' && !referenceNumber">
    Update, Pay & Check-in
  </button>
</mat-dialog-actions>
